.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 20px;
    padding: 10px 0;

    min-width: 160px;
    max-width: 160px;
    height: fit-content;

    border-radius: 20px;
    background-color: #073929;

    color: white;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px 0;

    width: 140px;
    height: fit-content;

    border-radius: 20px;

    color: black;
    background-color: white;
}

.loginButton {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px 0;
    width: 120px;
    height: 35px;

    box-shadow: 0 0 0 2px white inset;
    border-radius: 10px;

    background-color: white;

    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.userLink {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px 0;
    width: 120px;
    height: 35px;

    box-shadow: 0 0 0 2px #073929 inset;
    border-radius: 10px;

    color: #073929;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.userLink:hover {
    cursor: pointer;
}

.creditSection {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 20px;
    max-height: 20px;
    min-width: 120px;
    max-width: 120px;
    background-color: white;
    border-radius: 5px;

    font-size: 12px;
}

.creditLabel {
    margin-left: 2px;
    margin-right: 2px;
}

.credit {
    flex: 1;
    text-align: right;

    margin-left: 2px;
    margin-right: 2px;

    font-weight: 600;

    overflow: hidden;
    text-overflow: ellipsis;
}

.creditButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10px;
    min-width: 10PX;
    max-width: 10PX;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 7.5px;
    background-color: #073929;

    color: white;
    text-decoration: none;
}

.menuLink {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
    width: 120px;
    height: 35px;

    box-shadow: 0 0 0 2px white inset;
    border-radius: 10px;

    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}