/* CreditPage.module.css */

.container {
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: #f9f9f9; /* 부드러운 배경색 */
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid #073929; /* 강조된 테두리 */
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px; /* 카드 사이의 간격 */
    flex-wrap: wrap; /* 화면 크기에 따라 줄 바꿈 */
}

.card {
    background-color: #073929; /* 카드 배경색 변경 */
    border-radius: 10px ; /* 카드 모서리 둥글게 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* 카드 그림자 */
    padding: 30px; /* 카드 내부 여백을 늘림 */
    width: 250px; /* 카드 너비를 늘림 */
    transition: transform 0.3s; /* 호버 효과 애니메이션 */
    color: white; /* 텍스트 색상 흰색으로 설정 */
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    justify-content: space-between; /* 요소 간 공간 균등 배분 */
}

.card:hover {
    background-color: #065b29;
    transform: scale(1.05); /* 호버 시 확대 효과 */
}

.button {
    background: none; /* 기본 버튼 배경 제거 */
    border: none; /* 버튼 테두리 제거 */
    cursor: pointer; /* 커서 모양 변경 */
    color: #FFC600;
    text-align: left; /* 버튼 내부 텍스트 왼쪽 정렬 */
    width: 100%; /* 버튼 너비를 카드에 맞춤 */
}

.button img {
    background-color: white;
    width: 80px; /* 이미지 크기 조정 */
    height: 80px; /* 이미지 크기 조정 */
    margin-bottom: 8px; /* 이미지와 텍스트 사이 간격 추가 */
    border-radius: 50%; /* 이미지를 둥글게 만듭니다 */
    border: 3px solid #065b29; /* 테두리 색상 및 두께 설정 */
    object-fit: cover; /* 이미지 비율을 유지하며 크기 조정 */
}

.p {
    color: white;
    margin: 0; /* 기본 문단 마진 제거 */
    align-self: flex-end; /* p 요소를 카드의 하단으로 정렬 */
    text-align: right; /* 텍스트를 오른쪽으로 정렬 */
}
