.main {
    user-select: none;

    margin: 20px 100px;

    display: flex;
    flex: 1;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-weight: 900;

    text-align: center;

    margin-top: 30px;
}

.subTitle {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;

    text-align: center;

    color: #707070;
    font-size: 15px;
    font-weight: 600;
}

.cardSection {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 20px;

    height: 450px;
    width: 300px;

    border-radius: 10px;

    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.guideImage {
    pointer-events: none;

    margin-bottom: 30px;

    height: 200px;
    width: 200px;

    border-radius: 8px;

    box-shadow: 0 0 0 1px #d9d9d9 inset;
}

.sizeText {
    font-size: 20px;
    font-weight: 900;
}

.sizeSubText {
    margin-bottom: 20px;

    font-size: 17px;
    font-weight: 600;
}

.exampleText {
    margin-bottom: 5px;
    
    font-size: 15px;
}

.description {
    font-size: 15px;
}