header {
    user-select: none;

    display: flex;

    background-color: white;
}

header .logoSection {
    box-shadow: 0 0 0 1px red inset;
    display: flex;
}

header .logoSection .logoImage {
    padding-left: 10px;
    padding-right: 10px;
}
