@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
    margin: 0;
    padding: 0;

    min-width: 100%;

    font-family: "Nanum Gothic";

    /* 테스트용 배경색 */
    /* background-color: gainsboro; */
    /* 기본 배경색 */
    background-color: white;

    display: inline-block;
    white-space: nowrap;
}

.layout {
    min-height: calc(100vh - 17px);
    display: flex;
    flex-direction: column;
}

.outlet {
    flex: 1;

    padding-left: 100px;
    padding-right: 100px;
}
