.mypageSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;

    min-width: 200px;
    max-width: 200px;

    border-radius: 20px;

    background-color: #073929;
}

.link {
    margin-top: 10px;
    margin-bottom: 10px;

    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

.link p{
    background-color: #073929; /* 하얀색 배경 */
    border: 2px solid #073929;
    color: white;
    padding: 10px; /* 텍스트 내부 여백 */
    border-radius: 4px; /* 텍스트 박스 모서리 둥글게 */
    margin: 10px 0; /* 각 텍스트 사이의 간격 */
}

.infoBox {
    background-color: white; /* 박스의 초록색 배경 */
    border: 2px solid #073929; /* 노란색 테두리 */
    border-radius: 8px; /* 모서리를 살짝 둥글게 */
    padding: 20px; /* 박스 내부 여백 */
    width: fit-content; /* 내용에 맞게 너비 조정 */
    margin: 20px auto; /* 박스를 중앙에 배치 */
}

.infoBox p {
    background-color: #073929; /* 하얀색 배경 */
    border: 2px solid #073929;
    color: white; /* 검은색 글씨 */
    padding: 10px; /* 텍스트 내부 여백 */
    border-radius: 4px; /* 텍스트 박스 모서리 둥글게 */
    margin: 10px 0; /* 각 텍스트 사이의 간격 */
}
