.form {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    margin: 20px 0; /* 상하 여백 */
}

.inputGroup label {
    margin-bottom: 5px; /* label과 입력 필드 사이 간격 */
    font-weight: bold;
    color: #073929;
}

.inputGroup input, .inputGroup select {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 10px; /* 입력 필드 하단 간격 */
    width: 100%; /* 입력 필드를 컨테이너에 맞게 설정 */
}

.emailInput, .nicknameInput {
    display: flex;
    flex-direction: column; /* 수직 정렬로 변경 */
}

.emailInput button, .nicknameInput button {
    width: 100%;
    margin-top: 10px; /* 버튼 상단 간격 추가 */
    padding: 10px 15px;
    background-color: #073929;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
    height: 50px;
}

.inputGroup input:focus {
    border-bottom: 1px solid #073929;
    outline: none;
    box-shadow: 0 0 5px rgba(7, 57, 41, 0.5);
}

.inputGroup button:hover {
    background-color: #055b4a;
    transform: translateY(-2px);
}

